* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ++ colore dello sfondo ++ */

body {
    background-color: #f6f8f9;
}


/* ++ head ++ */

.container-head {
    width: 100%;
    background-color: white;   
}

#logo{
    margin: 10px;
    margin-right: 2px;
}

.container-head h1 {
    display: inline;
    vertical-align: 25px;
    font-family: 'Russo One', sans-serif;  
}


/* ++ main ++ */

.button{
    width: 700px;
    font-size: 11px;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-bottom: 8px;
    margin: auto;
    margin-top: 40px;
}

#task{
    margin-left: 40px;
    margin-top: 15px;
    color: rgb(255, 255, 255);
    background-color: rgb(18, 209, 235);
    padding: 5px;
    border-radius: 4px;
    border-color: rgb(204, 204, 204);
}

#section{
    margin-left: 5px;
    margin-top: 15px;
    color: rgb(110, 110, 110);
    padding: 5px;
    border-radius: 4px;
    border-color: rgb(204, 204, 204);
}

.container-main{
    width: 700px;
    height: 700px;
    background-color: rgb(255, 255, 255);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: auto;
    margin-top: 4px;
    margin-bottom: 20px;
}